body {
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.face {
  display: block;
  width: 140px;
  height: 140px;
  margin: 18px auto 11px auto;
  padding: 0;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #39275b;
}

.name {
  margin: 0 0 8px 0;
  font-weight: 500;
}

.title {
  margin: 0 0 22px 0;
  font-weight: normal;
}

.links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.2em;
}

.links > li {
  padding: 0 0 22px 0;
}
