body {
  margin: 0;
  padding: 0;
}

.content {
  padding: 0 10px;
  text-align: center;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-family: -apple-system, "BlinkMacSystemFont", ".SFNSDisplay-Regular", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.face {
  display: block;
  width: 180px;
  height: 180px;
  margin: 18px auto 11px auto;
  padding: 0;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  /* border-radius: 50%; */
  box-shadow: 0 0 0 2px #333;
}

.name {
  margin: 0 0 8px 0;
  font-size: 1.8em;
  font-weight: bold;
}

.title {
  margin: 0 0 36px 0;
  font-size: 1.2em;
  font-weight: normal;
}

.links {
  margin: 0 0 0 -10px;
  padding: 0;
  list-style-type: none;
  font-size: 1.2em;
}

.links > li {
  padding: 0 0 28px 0;
}
